<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="connStr" connectionString="Data Source=DESKTOP-9M996E6\SQLEXPRESS;Initial Catalog=BTL_HSK_QUANLINHANKHAU;Integrated Security=True" />
  <add name="QuanLiNhanKhau.Properties.Settings.BTL_HSK_QUANLINHANKHAUConnectionString"
   connectionString="Data Source=DESKTOP-9M996E6\SQLEXPRESS;Initial Catalog=BTL_HSK_QUANLINHANKHAU;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	
</configuration>